

.call-animation {
    
    width: 75px;
    height: 75px;
    position: relative;
    margin: 0 auto;
    border-radius: 100%;
   
    animation: play 2s ease infinite;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
  
}

 
@keyframes play {

    0% {
        transform: scale(1);
    }
    15% {
        box-shadow: 0 0 0 5px rgba(38, 192, 171, .4);
    }
    25% {
        box-shadow: 0 0 0 10px rgba(38, 192, 171, .4), 0 0 0 20px rgba(38, 192, 171, .2);
    }
    25% {
        box-shadow: 0 0 0 15px rgba(38, 192, 171, .4), 0 0 0 30px rgba(38, 192, 171, .2);
    }

}
